html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
.clear{clear:both;}
input[type="submit"]{cursor:pointer;}
/*content detail post*/

.mh-content-prod-con{clear:both;overflow:hidden}
.mh-content-prod-con h1{font-size:30px;line-height:normal}
.mh-content-prod-con h2{font-size:25px;line-height:normal}
.mh-content-prod-con h3{font-size:20px;line-height:normal}
.mh-content-prod-con h4{font-size:17px;line-height:normal}
.mh-content-prod-con h5{font-size:13px;line-height:normal}
.mh-content-prod-con h6{font-size:10px;line-height:normal}
.mh-content-prod-con ul,.mh-content-prod-con ol,.mh-content-prod-con li{list-style-position:inside;list-style-type:inherit}
.mh-content-prod-con ol{list-style-type:decimal}
.mh-content-prod-con table,.mh-content-prod-con tr,.mh-content-prod-con th,.mh-content-prod-con td{border:solid 1px #CDCDCD;border-collapse:collapse;padding:5px;vertical-align:middle}
.mh-content-prod-con a{color:#06C}
.mh-content-prod-con a:hover{text-decoration:underline}
.mh-content-prod-con img{height:auto;margin:5px auto;max-width:640px}
.mh-content-prod-con em,.mh-content-prod-con i{font-style:italic}
.mh-content-prod-con strong,.mh-content-prod-con b{font-weight:700}
/*content detail post*/


.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }




.Zebra_DatePicker *, .Zebra_DatePicker *:after, .Zebra_DatePicker *:before { -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important }
.Zebra_DatePicker { position: absolute; background: #FFF; border: 1px solid #999; display: none; z-index: 100; padding: 5px }
.Zebra_DatePicker * { margin: 0; padding: 0; color: #373737; background: transparent; border: none }
/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker table { border-collapse: collapse; border-spacing: 0 }
.Zebra_DatePicker td, .Zebra_DatePicker th { text-align: center; padding: 5px 0 }
.Zebra_DatePicker td { cursor: pointer }
.Zebra_DatePicker .dp_daypicker, .Zebra_DatePicker .dp_monthpicker, .Zebra_DatePicker .dp_yearpicker { margin-top: 3px }
.Zebra_DatePicker .dp_daypicker td, .Zebra_DatePicker .dp_daypicker th, .Zebra_DatePicker .dp_monthpicker td, .Zebra_DatePicker .dp_yearpicker td { width: 30px }
.Zebra_DatePicker, .Zebra_DatePicker .dp_header .dp_hover, .Zebra_DatePicker td.dp_selected, .Zebra_DatePicker .dp_footer .dp_hover, .Zebra_DatePicker td.dp_hover { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px }
/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_header td { }
.Zebra_DatePicker .dp_header .dp_previous, .Zebra_DatePicker .dp_header .dp_next { width: 30px }
.Zebra_DatePicker .dp_header .dp_caption { font-weight: 400 }
.Zebra_DatePicker .dp_header .dp_hover { background: #DEDEDE; color: #373737 }
.Zebra_DatePicker .dp_header .dp_blocked { color: #DEDEDE; cursor: default }
/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_daypicker th { font-weight: 400 }
.Zebra_DatePicker td.dp_not_in_month { color: #DEDEDE; cursor: default }
.Zebra_DatePicker td.dp_not_in_month_selectable { }
.Zebra_DatePicker td.dp_weekend { }
.Zebra_DatePicker td.dp_weekend_disabled { color: #DEDEDE; cursor: default }
.Zebra_DatePicker td.dp_selected { background: #37C6F4; color: #FFF !important }
.Zebra_DatePicker td.dp_week_number { cursor: text; font-weight: 400 }
/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_monthpicker td { width: 33% }
/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_yearpicker td { width: 33% }
/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker .dp_footer { margin-top: 3px }
/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_DatePicker td.dp_current { color: #3A87AD }
.Zebra_DatePicker td.dp_disabled_current { color: #3A87AD }
.Zebra_DatePicker td.dp_disabled { color: #DEDEDE; cursor: default }
.Zebra_DatePicker td.dp_hover { background: #DEDEDE }
/* = ICON
----------------------------------------------------------------------------------------------------------------------*/
button.Zebra_DatePicker_Icon { display: block; position: absolute; width: 16px; height: 16px; background: url('../images/calendar.png') no-repeat left top; text-indent: -9000px; border: none; cursor: pointer; padding: 0; line-height: 0; vertical-align: top; left: auto !important; right: 5px; }
button.Zebra_DatePicker_Icon_Disabled { background-image: url('../images/calendar-disabled.png') }
/* don't set vertical margins! */
button.Zebra_DatePicker_Icon { margin: 0 0 0 3px }
button.Zebra_DatePicker_Icon_Inside { margin: 0 3px 0 0 }